*{
    padding: 0;
    margin: 0;
}
::selection{
    background-color: black;
    color: white;
}
body{
    background-color: rgb(240, 237, 237);
}
.head{
    width: auto;
    height: 200px;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-around;
    display: flex;
}
.logo{
    position: absolute;
    margin-left: 700px;
  margin-top: 100px;
    width: 350px;
    height: 350px;
    cursor: pointer;
}
        .message {
         
            font-size: 100px;
            color: #333;
        }

.read1{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 650px;
    color: black;
    margin-top: 180px;
    z-index: 1;
    transition: 0.5s;
    text-decoration: none;
    
}
.read1:hover{
    text-shadow: 2px 2px 20px rgb(61, 61, 61);
}

.main{
    font-size: 30px;
  
    margin-top: 75px;
    cursor: pointer;
    transition: 0.5s;
    text-shadow: 1px 20px 40px white;
    text-decoration: none;
    color: white;
    /* position: absolute; */
}
.main:hover{
    transition: 0.5s;
    text-shadow: 1px 20px 40px wheat;
    color: wheat;
    margin-top: 70px;
}

.history{
    font-size: 30px;
    
    margin-top: 75px;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    color: white;
    text-shadow: 1px 20px 40px white;
    /* position: absolute;    */
}
.history:hover{
    transition: 0.5s;
    color: red;
    margin-top: 70px;
    text-shadow: 1px 20px 40px red;
 }

 .contacts{
    font-size: 30px;
    text-decoration: none;
    margin-top: 75px;
    cursor: pointer;
    transition: 0.5s;
    color: white;
    text-shadow: 1px 20px 40px white;
    /* position: absolute;  */
 }
 .contacts:hover{
    /* font-size: 35px; */
    transition: 0.5s;
    color: rgb(0, 255, 0);
    margin-top: 70px;
    text-shadow: 1px 20px 40px rgb(0, 255, 0);
 }

 .book_read{
    cursor: pointer;
 }

.recom{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 500px;
    margin-top: 100px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}
.recom:hover{
    transition: 0.5s;
    color: red;
    margin-top: 98px;
    text-shadow: 1px 20px 40px red;
}

 .foot{
    width: auto;
    height: 173px;
    margin-top: 600px;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;    
 }

 .foot1{
   width: auto;
   height: 220px;
   margin-top: 600px;
   background-color: black;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   display: flex;    
}


.foot2{
   width: auto;
   height: 173px;
   margin-top: 600px;
   background-color: black;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   display: flex;    
}


 .disklamer{
    position: absolute;
    margin-right: 60px;
    margin-top: 70px;
    font-size: 30px;
 }
 .since{
    margin-left: 1830px;
    margin-top: 140px;
 }








 .creators{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px; 
    margin-left: 100px;
    margin-top: 50px;
 }

 .details{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
    margin-top: 130px;
 }
 .details1{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
    margin-top: 170px;
 }
 .details2{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
    margin-top: 210px;
 }
 .details3{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
    margin-top: 250px;
 }
 .details4{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
    margin-top: 290px;
 }

 .good{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
    margin-top: 410px;
 }


.boltat{
   position: absolute;
   font-family: Arial, Helvetica, sans-serif;
   margin-left: 100px;
   margin-top: 330px;
}

.tom{
   position: absolute;
   font-family: Arial, Helvetica, sans-serif;
   margin-left: 100px;
   margin-top: 370px;
}








 .opisanie_his{
   position: absolute;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 40px;
   margin-top: 240px;
   margin-left: 10px;
   color: rgb(113, 113, 113);
 }


.zagolovok{
   margin-left: 4px;
   position: absolute;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 60px;
   color: rgb(178, 13, 13);
}








/* Медиа-запрос для адаптации под мобильные устройства до 600px */
@media only screen and (max-width: 600px) {
   * {
       padding: 0;
       margin: 0;
   }

   .head {
       width: auto;
       height: 200px; /* Уменьшаем высоту шапки */
       display: block; /* Изменяем на блочный элемент */
       text-align: center; /* Центрируем текст в шапке */
       font-family: 'Georgia', serif;
   }

   .logo {
       position: static; /* Меняем позицию логотипа на обычную статическую */
       margin-top: 60px; /* Уменьшаем отступ сверху */
       width: 6%; /* Уменьшаем ширину логотипа */
       height: 6%; /* Автоматический расчет высоты */
   }

   #random-button {
      background-color: black; /* Цвет фона кнопки */
      color: white; /* Цвет текста */
      font-size: 20px; /* Размер шрифта */
      padding: 10px 10px; /* Поля (отступы) внутри кнопки */
      margin-left: 75px;
      font-family: 'Georgia', serif;
      border: none; /* Убираем рамку */
      border-radius: 5px; /* Закругление углов кнопки */
      cursor: pointer; /* Указываем, что кнопка кликабельна */
      transition: background-color 0.3s; /* Плавный переход для фона при наведении */
  }
  
  #result {
   font-family: 'Georgia', serif; /* Применяем красивый шрифт */
   font-size: 28px; /* Увеличиваем размер текста */
   color: #333; /* Цвет текста */
   margin-top: 20px; /* Отступ сверху */
   padding: 10px 20px; /* Поля для содержимого */
   border: 1px solid #ccc; /* Рамка вокруг текста */
   border-radius: 5px; /* Закругление углов рамки */
   background-color: #f9f9f9; /* Цвет фона для текста */
   display: inline-block; /* Делаем область текста настраиваемой по ширине */
}

   .read1, .history, .contacts {
       font-size: 16px; /* Уменьшаем размер шрифта ссылок в шапке */
   }

   .read1 {
       margin-top: 20px; /* Уменьшаем отступ сверху у блока с текстом для скачивания */
   }

   .foot {
       margin-top: 10px; /* Уменьшаем отступ сверху для подвала */
   }

.main{
   font-size: 20px;
  
   margin-left: 75px;
   cursor: pointer;
   transition: 0.5s;
   text-shadow: 1px 20px 40px white;
   text-decoration: none;
   color: white;
   
}

.history{
   font-size: 20px;
   padding-top: 10px;
   margin-top: 75px;
   cursor: pointer;
   transition: 0.5s;
   text-decoration: none;
   color: white;
   text-shadow: 1px 20px 40px white;
   font-family: 'Georgia', serif;
   /* position: absolute;    */
}


.contacts{
   font-family: 'Georgia', serif;
   font-size: 20px;
   text-decoration: none;
   margin-top: 75px;
   cursor: pointer;
   transition: 0.5s;
   color: white;
   text-shadow: 1px 20px 40px white;
   /* position: absolute;  */
}












.tom2{
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: rainbow 1.5xs ease infinite alternate;
    animation: rainbow 1.5s ease infinite alternate;
    padding: 0px 30px;
    border: none;
    border-radius: 5px;
    font-size: 40px;
margin-left: 25px;
font-family: 'Georgia', serif;
    cursor: pointer;
}

@keyframes rainbow{
    0%{
        background-position: 0% 50%;
    }
    100%{
        background-position: 100% 50%;
    }
}






.tom1{
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: rainbow 1.5xs ease infinite alternate;
    animation: rainbow 1.5s ease infinite alternate;
    padding: 0px 30px;
    border: none;
    border-radius: 5px;
    font-family: 'Georgia', serif;
    font-size: 40px;
    cursor: pointer;
    margin-left: 25px;
}

@keyframes rainbow{
    0%{
        background-position: 0% 50%;
    }
    100%{
        background-position: 100% 50%;
    }
}





















.logo{
   width: 350px;
   height: 350px;
   margin-left: 10px;
   cursor: pointer;
}


.disklamer{
   position: absolute;
   margin-left: 50px;
   margin-top: 30px;
   font-size: 20px;
   color: rgb(146, 20, 20);
   font-family: 'Georgia', serif;
}

.foot1{
   width: auto;
    height: 220px;
    margin-top: 596px;
    background-color: black;
    color: white;
    font-family: 'Georgia', serif;
    display: flex;
}

.foot{
   width: auto;
    height: 220px;
    margin-top: 178px;
    background-color: black;
    color: white;
    font-family: 'Georgia', serif;
    display: flex;
}

.foot2{
   width: auto;
   height: 220px;
   margin-top: 596px;
   background-color: black;
   color: white;
   font-family: 'Georgia', serif;
   display: flex;
}


.zagolovok{
   margin-left: 4px;
   position: absolute;
   font-family: 'Georgia', serif;
   font-size: 30px;
   color: rgb(178, 13, 13);
}


.opisanie_his{
   position: absolute;
   font-family: 'Georgia', serif;
   font-size: 20px;
   margin-top: 270px;
   margin-left: 10px;
   color: rgb(113, 113, 113);
}

.details{
   position: absolute;
   font-family: 'Georgia', serif;
   margin-left: 10px;
   margin-top:    10px;
   font-size: 20px;
}


.details1{
   position: absolute;
   font-family: 'Georgia', serif;
   margin-left: 10px;
   margin-top: 90px;
}

.details4{
   position: absolute;
   font-family: 'Georgia', serif;
   margin-left: 10px;
   margin-top: 160px;
   font-size: 20px;
}


.boltat{
   position: absolute;
   font-family: 'Georgia', serif;
   margin-left: 10px;
   margin-top: 220px;
}


.tom{
   position: absolute;
   font-family: 'Georgia', serif;
   margin-left: 10px;
   margin-top: 300px;
}


.good{
   position: absolute;
   font-family: 'Georgia', serif;
   margin-left: 10px;
   margin-top: 450px;
}


.read1{
   position: absolute;
   font-family: 'Georgia', serif;
   color: black;
   margin-left: 12px;
   margin-top: 50px;
   font-size: 15px;
   z-index: 1;
   text-decoration: none;
}



}










.daun{
    color: rgb(146, 20, 20);
    padding-bottom: 20px;
    text-decoration: none;
    font-family: 'Georgia', serif;
}





.chapter1{
    font-size: 40px;
    margin-left: 10px;
    font-family: 'Georgia', serif;
    cursor: pointer;
    color: black;

}


.chapter1{
    font-size: 40px;
    margin-left: 10px;
    font-family: 'Georgia', serif;
    cursor: pointer;
    color: black;

}

